<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="../../Scripts/jquery-1.10.2.js"></script>
    <script src="../../Scripts/popup.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/extantion.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="userInfo" style="display:none;">
        <p>Вы вошли как: <span class="userName"></span></p>
        <input type="button" value="Выйти" id="logOut" />
        <input type="submit" id="getItemsButton" value="Получить данные" />
    </div>
    <div class="form-group loginForm">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="emailLogin" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group loginForm">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="passwordLogin" placeholder="Password">
    </div>
    <div class="form-check loginForm">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            Check me out
        </label>
    </div>
    <button type="submit" id="submitLogin" class="btn btn-primary loginForm">Submit</button>
</body>
</html>
