<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="../../Scripts/jquery-1.10.2.js"></script>
    <script src="../../Scripts/popup.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/extantion.css" rel="stylesheet" />
    <title>chrome-extension://idmkbfegdginpeohickgddcmannkbdjk</title>
</head>
<body>
    <h1>Тут пусто</h1>
</body>
</html>